.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FEF1DC;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.loadingScreen.fadeOut {
    opacity: 0;
}

.loadingGif {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}